﻿
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-inner">
            <a class="brand" href="#">
                <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
                <img src="~/Content\Images\logo_ease.png" class="logo_icon" />
            </a>
        </div>
        <div class="navbar-collapse collapse">

           
@if (HttpContext.Current.Session["userId"] != null && HttpContext.Current.Session["userId"] != "")
{
    using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
           @if (HttpContext.Current.Session["roleId"].ToString() == "2")
            {
                <li>@Html.ActionLink(" Profile", "DoctorProfile", "Doctor", new { area = "Doctor" }, new { @class = "login_register fa fa-user-md" })</li>
            }
           else
           {
            <li>@Html.ActionLink("Your Profile", "PatientProfile", "Patient", new { area = "Patient" }, new { @class = "login_register fa fa-user" })</li>
           }       
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="fa fa-sign-out">Logout</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right navbar-link">
        <li>@Html.ActionLink(" Login", "HomeLogin", "Home", new { @class = "login_register fa fa-sign-in" })</li>
        <li>@Html.ActionLink(" Register", "UserRegister", "Home", new { @class = "login_register fa fa-user-plus" })</li>
    </ul>
}
    
        </div>
    </div>
</div>


