﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-inner">
            <a class="brand" href="#">
                <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
                <img src="~/Content\Images\logo_ease.png" class="logo_icon" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-link">
                <li>@Html.ActionLink(" Home", "Index", "Home", new { @class = "login_register fa fa-home" })</li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-link">
                <li>@Html.ActionLink(" Login", "HomeLogin", "Home", new { @class = "login_register fa fa-sign-in" })</li>
            </ul>
        </div>
    </div>
</div>
