﻿@model EaseHealthDemoProject.Areas.Doctor.Models.DoctorInvoiceViewModel
@{

}
@Html.Partial("_DoctorProfileNavbar")
<meta name="viewport" content="width=device-width" />
<div id="loginScreen_invoice">
    @using (Html.BeginForm("AddInvoice", "Doctor", FormMethod.Post, new { @class = "form-horizontal form-horizontal_invoice", role = "form" }))
    {
        @Html.AntiForgeryToken()
       
        @Html.Label("Invoice", new { @class = "pageheading" })
        if (@ViewBag.message != null)
        {
            <div class="error-notice">
                <div class="oaerror info ">
                    <span> @ViewBag.message</span>
                </div>
            </div>
        }
        <div class="invoice">
            @Html.Label("Total Amount*", new { @class = "col-md-4 control-label left-label_invoice" })
            @Html.TextBoxFor(model => model.TotalAmount, new { @class = " col-md-4 form-control right_textbox_invoice", id = "reciever_textbox" })
            @Html.ValidationMessage("", new { @class = "text-danger" })
            <span class="fa fa-inr rupee"> </span>
        </div>
        //-------------------------------------------------------------------------------------------------------Submit  Button
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default submit_invoice" value="Save Visit" id="loginbutton_soap" />
            </div>
        </div>
    }
</div>
<div id="cover_soap ">

</div>




