﻿@model EaseHealthDemoProject.Areas.Doctor.Models.DoctorVisitViewModel
@{
    ViewBag.Title = "AddVisit";
}


@Html.Partial("_DoctorProfileNavbar")

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<meta name="viewport" content="width=device-width" />
<div id="loginScreen_addvisit">
    <div id="box-cover_addvisit">
        @using (Html.BeginForm("AddVisit", "Doctor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.Label("Add Visit Here!", new { @class = "pageheading" })
            if (@ViewBag.message != null)
            {
                <div class="error-notice">
                    <div class="oaerror info ">
                        <span> @ViewBag.message</span>
                    </div>
                </div>
            }
            <div class="form-group label_addvisitname">
                @Html.Label("VisitName*", new { @class = "col-md-4 control-label label_addvisit" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.VisitName, new { @class = "form-control input addvisitname right_textbox_addvisit", id = "visitname_textbox" })
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group label_addvisitname">
                @Html.Label("PatientName*", new { @class = "col-md-4 control-label label_addvisit" })
            </div>
            <div class="address-div">
                <div class="align-patientdropdown">
                    @Html.DropDownListFor(model => model.PatientName, Model.PatientList, "Patient", new { @class = "btn btn-default addvisitpatient dropdown-toggle right_textbox_addvisit", id = "patient" })
                </div>
                @Html.ValidationMessage("", new { @class = "text-danger" })
            </div>
            <div id="patientname_validation">

            </div>
            <div class="form-group label_addvisitname">
                @Html.Label("Visit Date*", new { @class = "col-md-4 control-label label_addvisit" })
                <div class="col-md-2 mii_addvisit">
                    <div class='input-group date ' data-provide="datepicker">
                        <span class="input-group-addon input-group-addon_addvisit calendar"> </span>
                        @Html.TextBoxFor(model => model.VisitDate, new { @class = "col-md-12 date_textbox addvisitdate right_textbox_addvisit", id = "datetimepicker1_addvisit", Value = "" })
                        @Html.ValidationMessage("", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div id="dov_validation">

            </div>
            //-------------------------------------------------------------------------------------------------------Submit  Button
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default loginbutton_addvisit" value="Save Visit" id="loginbutton_addvisit" />
                </div>
            </div>
            //-------------------------------------------------------------------------------------------------------

        }
    </div>
</div>
<div id="cover ">
</div>

