﻿@model EaseHealthDemoProject.Areas.Doctor.Models.AvailabilityViewModel
@{
    ViewBag.Title = "Availability";
}
@Html.Partial("_DoctorProfileNavbar")

@using (Html.BeginForm("Availability", "Doctor", FormMethod.Post, new { @class = "form-horizontal container_availability", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Label("Add Availability Here!", new { @class = "availability_pageheading" })
    <div class="error-notice_availability">
        <div class="oaerror info ">
            <span> Data Saved Successfully</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Your Availability", "DisplayAvailability", "Doctor",new{id = HttpContext.Current.Session["userId"].ToString()}, new { @class = " btn-success text-success addvisit_button" })
        </div>
    </div>
    
    <div class="validation_availability"></div>
    <div class="day-container" id="monday_div">
        <div class="col-md-12 day ">
            @Html.CheckBoxFor(m => m.Day, new { @class = "day-checkbox", id="Monday"})
            @Html.Label("Monday", new { @class = "col-md-2   day-label"})
           
        </div>
        
        <div class="time-container" >
            <div class="col-md-6 time-div " >
                @Html.Label("Start Time", new { @class = "col-md-3 control-label left_label_avail ", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle  starttime", id = "start-time" })
                @Html.Label("End Time", new { @class = "col-md-3 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select", new { @class = "btn btn-default dropdown-time dropdown-toggle  endtime", id = "bloodgroup" })
            </div>
            <div class="col-md-6 monday-break-div break-div" id="break-div">
                @Html.Label("Break Start Time", new { @class = "col-md-3 control-label left_label_avail breakstarttime_monday", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle breakstarttime ", id = "end-time" })
                @Html.Label("Break End Time", new { @class = "col-md-3 control-label breakendtime_monday left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select", new { @class = "btn btn-default dropdown-time dropdown-toggle breakendtime " })
                <button type="button" class="btn btn-default btn-sm add-break-dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <div class="col-md-6 break-div break-container">
                </div>
            </div>
            
            </div>

    </div>


    <div class="day-container " id="tuesday_div">
        <div class="col-md-12 day ">
            @Html.CheckBoxFor(m => m.Day, new { @class = "day-checkbox", id = "Tuesday" })
            @Html.Label("Tuesday", new { @class = "col-md-2 day-label" })
        </div>
        <div class="time-container">
            <div class="col-md-6 time-div">
                @Html.Label("Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle starttime " })
                @Html.Label("End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select ", new { @class = "btn btn-default endtime dropdown-time dropdown-toggle  " })
            </div>
            <div class="col-md-6 break-div">

                @Html.Label("Break Start Time", new { @class = "col-md-2 control-label left_label_avail ", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle breakstarttime "})
                @Html.Label("Break End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select", new { @class = "btn btn-default dropdown-time dropdown-toggle  breakendtime" })
                <button type="button" class="btn btn-default  btn-sm add-break-dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <div class="col-md-6 break-div break-container">
                </div>
            </div>
        </div>
    </div>

    <div class="day-container" id="wednesday_div">
        <div class="col-md-12 day">
            @Html.CheckBoxFor(m => m.Day, new { @class = "day-checkbox", id = "Wednesday" })
            @Html.Label("Wednesday", new { @class = "col-md-2 day-label" })
        </div>
        <div class="time-container">
            <div class="col-md-6 time-div">
                @Html.Label("Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle  starttime " })
                @Html.Label("End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select ", new { @class = "btn btn-default dropdown-time dropdown-toggle  endtime  " })
            </div>
            <div class="col-md-6 break-div">

                @Html.Label("Break Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle  breakstarttime "})
                @Html.Label("Break End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select ", new { @class = "btn btn-default dropdown-time dropdown-toggle   breakendtime" })
                <button type="button" class="btn btn-default  btn-sm add-break-dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <div class="col-md-6 break-div break-container">
                </div>
            </div>
        </div>
    </div>


    <div class="day-container" id="thursday_div">
        <div class="col-md-12 day">
            @Html.CheckBoxFor(m => m.Day, new { @class = "day-checkbox", id = "Thursday" })
            @Html.Label("Thursday", new { @class = "col-md-2 day-label" })
        </div>
        <div class="time-container">
            <div class="col-md-6 time-div">
                @Html.Label("Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle   starttime" })
                @Html.Label("End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select ", new { @class = "btn btn-default dropdown-time dropdown-toggle   endtime"})
            </div>
            <div class="col-md-6 break-div">
                @Html.Label("Break Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle  breakstarttime "})
                @Html.Label("Break End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select", new { @class = "btn btn-default dropdown-time dropdown-toggle breakendtime" })
                <button type="button" class="btn btn-default  btn-sm append-break add-break-dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <div class="col-md-6 break-div break-container">
                </div>
            </div>
        </div>
    </div>


    <div class="day-container" id="friday_div">
        <div class="col-md-12 day">
            @Html.CheckBoxFor(m => m.Day, new { @class = "day-checkbox", id = "Friday" })
            @Html.Label("Friday", new { @class = "col-md-2 day-label" })
        </div>
        <div class="time-container">
            <div class="col-md-6 time-div">
                @Html.Label("Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle  starttime " })
                @Html.Label("End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select ", new { @class = "btn btn-default dropdown-time dropdown-toggle  endtime" })
            </div>
            <div class="col-md-6 break-div">

                @Html.Label("Break Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle breakstarttime " })
                @Html.Label("Break End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select ", new { @class = "btn btn-default dropdown-time dropdown-toggle  breakendtime" })
                <button type="button" class="btn btn-default  btn-sm add-break-dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <div class="col-md-6 break-div break-container">
                </div>
            </div>
        </div>
    </div>

    <div class="day-container" id="saturday_div">
        <div class="col-md-12 day">
            @Html.CheckBoxFor(m => m.Day, new { @class = "day-checkbox", id = "Saturday" })
            @Html.Label("Saturday", new { @class = "col-md-2 day-label" })
        </div>
        <div class="time-container">
            <div class="col-md-6 time-div">
                @Html.Label("Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle starttime " })
                @Html.Label("End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select ", new { @class = "btn btn-default dropdown-time dropdown-toggle  endtime" })
            </div>
            <div class="col-md-6 break-div">
                @Html.Label("Break Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle breakstarttime " })
                @Html.Label("Break End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select ", new { @class = "btn btn-default dropdown-time dropdown-toggle  breakendtime" })
                <button type="button" class="btn btn-default  btn-sm add-break-dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <div class="col-md-6 break-div break-container">
                </div>
            </div>
        </div>
    </div>


    <div class="day-container" id="sunday_div">
        <div class="col-md-12 day">
            @Html.CheckBoxFor(m => m.Day, new { @class = "day-checkbox", id = "Sunday" })
            @Html.Label("Sunday", new { @class = "col-md-2 day-label" })
        </div>
        <div class="time-container">
            <div class="col-md-6 time-div">
                @Html.Label("Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle  starttime" })
                @Html.Label("End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select ", new { @class = "btn btn-default dropdown-time dropdown-toggle endtime " })
            </div>
            <div class="col-md-6 break-div">
                @Html.Label("Break Start Time", new { @class = "col-md-2 control-label left_label_avail", id = "starttime_label" })
                @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList, "Select ", new { @class = "col-md-2  btn btn-default dropdown-time dropdown-toggle  breakstarttime" })
                @Html.Label("Break End Time", new { @class = "col-md-2 control-label left_label_avail", id = "endtime_label" })
                @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList, "Select ", new { @class = "btn btn-default dropdown-time dropdown-toggle  breakendtime" })
                <button type="button" class="btn btn-default  btn-sm add-break-dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <div class="col-md-6 break-div break-container">
                </div>
            </div>
        </div>
    </div>
    <div class="submit-btn-block-div">
        <div class="form-group day">
            <div class="col-md-offset-2 col-md-10">   
                <a href="#" class="btn  btn-sm input fa fa-save btn-default" id="save-day-details">
                    Save Availability
                </a>                             
            </div>
        </div>
    </div>
}