﻿@model IEnumerable<EaseHealthDemoProject.Areas.Doctor.Models.AvailabilityViewModel>

@{

}

@Html.Partial("_DoctorProfileNavbar")
@Html.Label("Breaks", new { @class = "availability_pageheading" })

@if (Model.Count() > 0)
{
    <div id="gridContent">
        @{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, defaultSort: "SelectedDay",
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.NextPrevious);
        }
        @grid.GetHtml(tableStyle: "webGrid",
                            headerStyle: "header",
                            alternatingRowStyle: "alt",
                            selectedRowStyle: "select",
                            columns: grid.Columns(
                                              grid.Column("BreakStartTime", "Break Start Time"),
                                              grid.Column("BreakCloseTime", "Break End Time")
                                            ))
    </div>
}
else
{
    <div class="oaerror info">
        <span> No data found.</span>
    </div>
}
