﻿@model IEnumerable<EaseHealthDemoProject.Areas.Doctor.Models.AvailabilityViewModel>

@{

}

@Html.Partial("_DoctorProfileNavbar")
@Html.Label("Availability", new { @class = "availability_pageheading" })
@if(Model.Count() > 0)
{
<div id="gridContent">
    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 7, defaultSort: "SelectedDay",
        selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        grid.Pager(WebGridPagerModes.NextPrevious);
    }
    @grid.GetHtml(tableStyle: "webGrid",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    columns: grid.Columns(
                              grid.Column("SelectedDay", "Day"),
                              grid.Column("StartTime", "Start Time"),
                              grid.Column("EndTime", "End Time"),
                              grid.Column("Break Details", format: (item) =>
                                    {
                                        var links = Html.ActionLink("Get Breaks", "DisplayBreakAvailability", "Doctor", new { id = item.AvailabilityId }, null);
                                        return Html.Raw(links.ToString());
                                    })
                           ))
</div>
    }
  else
    {
<div class="oaerror info">
    <span> No data found.</span>
</div>
    }

