﻿@model IEnumerable<EaseHealthDemoProject.Areas.Doctor.Models.DisplayDoctorViewModel>


@{
    ViewBag.Title = "DoctorProfile";
}


@Html.Partial("_DoctorProfileNavbar")
@Html.Label("Your Profile", new { @class = "availability_pageheading" })

    
        @foreach (var item in Model)
        {
            
    <div class="container">
        <div class="row">   
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.DisplayFor(modelItem => item.FullName)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/Content\Images\doctor.png" class=" img-responsive"> </div>

                                <div class=" col-md-9 col-lg-9 ">
                                    <ul class="table table-user-information">
                                        <ul>
                                            <li class="record">@Html.DisplayNameFor(model => model.MobileNumber):</li>
                                            <li class="data">@Html.DisplayFor(modelItem => item.MobileNumber)</li>
                                        </ul>
                                        <ul>
                                            <li class="record">@Html.DisplayNameFor(model => model.StateName):</li>
                                            <li class="data">@Html.DisplayFor(modelItem => item.StateName)</li>
                                        </ul>
                                        <ul>
                                            <li class="record">@Html.DisplayNameFor(model => model.CityName):</li>
                                            <li class="data">@Html.DisplayFor(modelItem => item.CityName)</li>
                                        </ul>
                                        <ul>
                                            <li class="record">@Html.DisplayNameFor(model => model.LocalityName):</li>
                                            <li class="data">@Html.DisplayFor(modelItem => item.LocalityName)</li>
                                        </ul>
                                        <ul>
                                            <li class="record">@Html.DisplayNameFor(model => model.Pincode):</li>
                                            <li class="data">@Html.DisplayFor(modelItem => item.Pincode)</li>
                                        </ul>
                                        <ul>
                                            <li class="record">@Html.DisplayNameFor(model=> model.QualificationName):</li>
                                            <li class="data">@Html.DisplayFor(modelItem => item.QualificationName)</li>
                                        </ul>
                                        <ul>
                                            <li class="record">@Html.DisplayNameFor(model=> model.SpecialityName):</li>
                                            <li class="data">@Html.DisplayFor(modelItem => item.SpecialityName)</li>
                                        </ul>
                                        <ul>
                                            <li class="record">@Html.DisplayNameFor(model => model.LicenseNumber):</li>
                                            <li class="data">@Html.DisplayFor(modelItem => item.LicenseNumber)</li>
                                        </ul>
                                        <ul>
                                            <li class="record">@Html.DisplayNameFor(model => model.ClinicRegistrationNumber):</li>
                                            <li class="data">@Html.DisplayFor(modelItem => item.ClinicRegistrationNumber)</li>
                                        </ul>
                                        <ul>
                                            <li class="record">@Html.DisplayNameFor(model => model.Experience):</li>
                                            <li class="data">@Html.DisplayFor(modelItem => item.Experience) yrs</li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @Html.ActionLink("Profile", "EditProfile", "Doctor", new { @class = " btn btn-sm btn-success glyphicon glyphicon-edit" })


                        </div>

                    </div>
                </div>
            </div>
    </div>
        }

