﻿@model IEnumerable<EaseHealthDemoProject.Areas.Doctor.Models.DoctorVisitViewModel>

@Html.Partial("_DoctorProfileNavbar")

@Html.Label("All Visits", new { @class = "availability_pageheading" })

<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Add Visit", "AddVisit", "Doctor", new { @class = " btn-success text-success addvisit_button" })
    </div>
</div>

@if(Model.Count() > 0)
    {
    <div id="gridContent">
        @{
            var grid = new WebGrid(Model, canPage: true, rowsPerPage: 10,
            selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
            grid.Pager(WebGridPagerModes.NextPrevious);
        }
        @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
     
     previousText: "< Prev",
     nextText: "Next >",
     
            selectedRowStyle: "select",
            columns: grid.Columns(

                        grid.Column("VisitName", "Visit Name", style: "description"),
                        grid.Column("VisitDate", " Visit Date"),
                        grid.Column("PatientName", "Patient Name"),
                        grid.Column("Visit Details", format: (item) =>
                        {
                            var links = Html.ActionLink("Add Details", "VisitDetails", "Doctor", new { id = item.VisitId },null);
                            return Html.Raw(links.ToString());
                        }),
                        grid.Column("Invoice", format: (item) =>
                        {
                            var links = Html.ActionLink("Add Invoice", "AddInvoice", "Doctor", new { id = item.VisitId }, null);
                            return Html.Raw(links.ToString());
                        })


     ))

    </div>
    }
    else
    {
    <div class="form-group">
        <div class="col-md-12 ">
            <div class="oaerror info">
                <span> No data found.</span>
            </div>
            </div>
</div>
            }
