﻿@model IEnumerable<EaseHealthDemoProject.Areas.Doctor.Models.DoctorEditProfileViewModel>
@{
    ViewBag.Title = "EditProfile";
}

@Html.Partial("_DoctorProfileNavbar")
<meta name="viewport" content="width=device-width" />
<div id="loginScreen_register">
    <div id="box-cover_register">

        @using (Html.BeginForm("EditProfile", "Doctor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.Label("Edit your profile!", new { @class = "pageheading" })
            if (@ViewBag.message != null)
            {
                <div class="error-notice">
                    <div class="oaerror info ">
                        <span> @ViewBag.message</span>
                    </div>
                </div>
            }
            <div class="error-notice_availability">
                <div class="oaerror info ">
                    <span> Qualification saved</span>
                </div>
            </div>

            foreach (var element in Model)
            {

                <div class="form-group">
                    @Html.Label("Full Name", new { @class = "col-md-7 control-label left_label_register", id = "name_label" })
                    <div class="col-md-10 col-md-10_register">
                        @Html.TextBoxFor(model => model.FirstOrDefault().FullName, new { @class = "form-control input input_register right_textbox_register", id = "fullname" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Mobile Number", new { @class = "col-md-7 control-label left_label_register", id = "tmobile_label" })
                    <div class="col-md-10 col-md-10_register">
                        @Html.TextBoxFor(model => model.FirstOrDefault().MobileNumber, new { @class = "form-control input input_register right_textbox_register", id = "mobilenumber" })
                    </div>
                </div>

                <div class="form-group">                    
                    @Html.Label("Address", new { @class = "col-md-7 control-label left_label_register", id = "password_label" })
                </div>

                <div class="address-div">
                    <div class="align-dropdown">
                        @Html.DropDownListFor(model => model.FirstOrDefault().StateName, Model.FirstOrDefault().StateList, "State", new { @class = "btn btn-default dropdown-toggle ", id = "state" })
                        @Html.DropDownListFor(model => model.FirstOrDefault().CityName, Model.FirstOrDefault().CityList, "City", new { @class = "btn btn-default dropdown-toggle", id = "city" })
                        @Html.DropDownListFor(model => model.FirstOrDefault().LocalityName, Model.FirstOrDefault().LocalityList, "Locality",new { @class = "btn btn-default dropdown-toggle", id = "locality" })
                    </div>
                    <div id="validation_address">

                    </div>
                </div>
                <div class="align-dropdown">
                    @Html.TextBoxFor(model => model.FirstOrDefault().Pincode, new { @class = "form-control", id = "pincode", Placeholder = "pincode" })

                </div>


                <div class="form-group">
                    @Html.Label("License Number ", new { @class = "col-md-7  control-label left_label_register" })
                    <div class="col-md-10 col-md-10_register">
                        @Html.TextBoxFor(model => model.FirstOrDefault().LicenseNumber, new { @class = "form-control input  input_register right_textbox_register", id = "license-number" })
                    </div>
                </div>
                <div class="form-group align-dropdown ">
                    @Html.Label("Speciality", new { @class = "col-md-7  control-label left_label_register", id = "speciality_label" })
                    <div class="bloodgroup-div_register">
                        @Html.DropDownListFor(model => model.FirstOrDefault().SpecialityName, Model.FirstOrDefault().SpecialityList, "Speciality", new { @class = "btn btn-default dropdown-toggle  ", id = "speciality_register" })
                    </div>
                </div>
                <div id="validation_speciality">

                </div>
                <div class="form-group align-dropdown">
                    <div class="div_register">
                        <h2 class="selected-qualification"></h2>
                    </div>
                    @Html.Label("Qualification", new { @class = "col-md-7  control-label left_label_register", id = "speciality_label" })
                    <div class="bloodgroup-div_register">
                        @Html.DropDownListFor(model => model.FirstOrDefault().QualificationName, Model.FirstOrDefault().QualificationList, "Qualification", new { @class = "btn btn-default dropdown-toggle  ", id = "combo" })
                    </div>
                    <button type="button" class="btn btn-default btn btn-defaultbtn-sm" id="button1_register">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                    <input type="button" class="btn btn-default btn btn-defaultbtn-sm" value=" Save" id="loginbutton_qualification" />
                </div>

                <div id="validation_qualification">

                </div>
                <div class="form-group">
                    @Html.Label("Experience", new { @class = "col-md-7  control-label left_label_register" })
                    <div class="col-md-10 col-md-10_register">
                        @Html.TextBoxFor(model => model.FirstOrDefault().Experience, new { @class = "form-control input input_register right_textbox_register", id = "experience_textbox" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Clinic Registration Number", new { @class = "col-md-7  control-label left_label_register" })
                    <div class="col-md-10 col-md-10_register">
                        @Html.TextBoxFor(model => model.FirstOrDefault().ClinicRegistrationNumber, new { @class = "form-control input input_register right_textbox_register", id = "clinic-registration-number" })
                    </div>
                </div>



                @Html.TextBoxFor(model => model.FirstOrDefault().SelectedQualificationList, new { @class = "form-control input  input_register right_textbox_register hidden", id = "selected-qualification-list" })

                //-------------------------------------------------------------------------------------------------------Submit  Button
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 col-md-10_register">
                        <input type="submit" class="btn btn-default" value="Save Changes" id="save" />
                    </div>
                </div>
                //-------------------------------------------------------------------------------------------------------                
            }
        }
    </div>

    <div id="cover_register ">

    </div>


