﻿@model IEnumerable<EaseHealthDemoProject.Areas.Doctor.Models.DoctorFeedbackViewModel>

@{

}

@Html.Partial("_DoctorProfileNavbar")
@Html.Label("Your Feedbacks", new { @class = "availability_pageheading" })
@if (Model.Count() > 1)
{

<div id="gridContent">
    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5,selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        grid.Pager(WebGridPagerModes.NextPrevious);
    }
    @grid.GetHtml(tableStyle: "webGrid",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    columns: grid.Columns(
                              grid.Column("Sender", "Patient Name"),
                              grid.Column("Feedback", "Feedback")

     ))
</div>
}
else
{
    <div class="form-group">
        <div class="col-md-12 ">
            <div class="oaerror info">
                <span> No data found.</span>
            </div>
        </div>
    </div>
}








