﻿@model EaseHealthDemoProject.Areas.Doctor.Models.DoctorVisitViewModel
@{

}
@Html.Partial("_DoctorProfileNavbar")
    <meta name="viewport" content="width=device-width" />
    <div id="loginScreen_soap">
        @using (Html.BeginForm("VisitDetails", "Doctor", FormMethod.Post, new { @class = "form-horizontal form-horizontal_soap", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.Label("Visit Details", new { @class = "pageheading" })
            if (@ViewBag.message != null)
            {
                <div class="error-notice">
                    <div class="oaerror info ">
                        <span> @ViewBag.message</span>
                    </div>
                </div>
            }
                <div class="soap">
                    @Html.Label("SOAP*", new { @class = "col-md-2 control-label left-label_soap" })
                    @Html.TextAreaFor(m => m.VisitDetails, new { @class = " col-md-2 form-control right_textbox_soap", id = "reciever_textbox", @rows = "10" })
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                </div>
            
            //-------------------------------------------------------------------------------------------------------Submit  Button
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Save Visit" id="loginbutton_soap" />
                </div>
            </div>
        }
    </div>
    <div id="cover_soap ">

    </div>




