﻿@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-inner">
                    <a class="brand" href="#">
                        <img src="~/Content\Images\logo_ease.png" class="logo_icon" />
                    </a>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
@if (HttpContext.Current.Session["userId"] != null && HttpContext.Current.Session["userId"] != "" )
{
    if (HttpContext.Current.Session["roleId"].ToString() == "2")
            {
                <ul class="nav navbar-nav nav-link">
                    <li>@Html.ActionLink(" Home", "Index", "Home", new { area = "Main" }, new { @class = "login_register fa fa-home" })</li>
                    <li>@Html.ActionLink(" Availability", "Availability", "Doctor", new { @class = "login_register 	fa fa-clock-o" })</li>
                    <li>@Html.ActionLink(" Visit", "DoctorVisit", "Doctor", new { @class = "login_register fa fa-briefcase" })</li>
                    <li>@Html.ActionLink(" Feedback", "Feedback", "Doctor", new { @class = "login_register fa fa-mail-forward" })</li>
                    <li>@Html.ActionLink(" Profile", "DoctorProfile", "Doctor", new { @class = "login_register fa fa-user-md" })</li>

                </ul>
                <ul class="nav navbar-nav navbar-right navbar-link">
                    <li>@Html.ActionLink(" Logout", "Logout", "Home", new { area = "Main" }, new { @class = "login_register fa fa-sign-out" })</li>
                    
                </ul>
            }
    else
    {
        @Html.Partial("_PatientPartial")
    }
}
else
{
                <ul class="nav navbar-nav navbar-right navbar-link">
                    <li>@Html.ActionLink("Login", "HomeLogin", "Home", new { area = "Main" }, new { @class = "login_register fa fa-sign-in" })</li>
                    <li>@Html.ActionLink("Register", "UserRegister", "Home",new{area="Main"}, new { @class = "login_register fa fa-user-plus" })</li>
                </ul>
                }
            </div>
            
        </div>

    </div>


