﻿@if (HttpContext.Current.Session["userId"] != null && HttpContext.Current.Session["userId"]!= "")
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p><b>@Session["UserName"]</b></p>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{

<ul class="nav navbar-nav navbar-right navbar-link">
    <li>@Html.ActionLink("Login", "HomeLogin", "Home", new { @class = "login_register" })</li>
    <li>@Html.ActionLink("Register", "UserRegister", "Home", new { @class = "login_register" })</li>
</ul>
}


