﻿@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-inner">
                <a class="brand" href="#">
                    <img src="~/Content\Images\logo_ease.png" class="logo_icon" />
                </a>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-link">

                <li>@Html.ActionLink(" Home", "Index", "Home", new { area = "Main" }, new { @class = "login_register fa fa-home" })</li>
                <li>@Html.ActionLink(" Visit", "Visit", "Patient", new { @class = "login_register fa fa-briefcase" })</li>
                <li>@Html.ActionLink(" Feedback", "Feedback", "Patient", new { @class = "login_register fa fa-mail-reply" })</li>
                <li>@Html.ActionLink(" Profile", "PatientProfile", "Patient", new { @class = "login_register fa fa-user" })</li>                
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-link">
                <li>@Html.ActionLink(" Logout", "Logout", "Home", new { area = "Main" }, new { @class = "login_register fa fa-sign-out" })</li>
            </ul>

        </div>

    </div>
</div>



