﻿
@{
    ViewBag.Title = "Error";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-info">

                <span class="glyphicon glyphicon-info-sign"></span> <strong>Info Message</strong>
                <hr class="message-inner-separator">
                <p>
                    Sorry, some error occurred! We have notified our administrator about the issue. You can try refreshing the page.
                </p>
            </div>
        </div>
    </div>
</div>