﻿@model EaseHealthDemoProject.Areas.Main.Models.LoginViewModel
@{

}
@Html.Partial("_LoginPartial")
    <div id="loginScreenhome">
        <div id="box-coverhome">
            @using (Html.BeginForm("HomeLogin", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" ,id="loginform"}))
            {
                @Html.AntiForgeryToken()

                @Html.Label("Login", new { @class = "pageheading" })
                @ViewBag.Message
                <div class="form-group">
                    @Html.Label("Mobile Number", new { @class = "col-md-2 control-label", id = "mobile_labelhome" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control input", id = "mobile_textboxhome"  })
                        @Html.ValidationMessage("", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", id = "password_labelhome" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password_textboxhome" })
                        @Html.ValidationMessage("", new { @class = "text-danger" })
                    </div>
                </div>
                //-----------------------------------------------------------------------------------------------------------
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Login" id="loginbuttonhome" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="coverhome">

    </div>

