﻿@model EaseHealthDemoProject.Areas.Main.Models.HomepageViewModel
@{

}

@Html.Partial("_HomePartial")
        <div class="container body-content">
            <div class="knockout"><a href="http://mksht.crisnoble.com" rel="Like cool shit? visit my site">Ease Health</a></div>
            <div class="foo">
                <span class="letter" data-letter="A"></span>
            </div>
            @using (Html.BeginForm("ListOfDoctors", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", area = "Main" }))
            {
                @Html.AntiForgeryToken()
                
                <div class="container">
                    <div class="row" id="search-bar">
                        <div class="col-xs-8 col-xs-offset-2">
                            <div class="input-group">
                                <div class="search-buttons">
                                    @Html.DropDownListFor(model => model.StateName, Model.StateList, "State ", new { @class = "btn btn-default dropdown-toggle ", id = "state" })
                                    @Html.DropDownListFor(model => model.CityName, Model.CityList, "City ", new { @class = "btn btn-default dropdown-toggle", id = "city" })
                                    @Html.DropDownListFor(model => model.LocalityName, Model.LocalityList, "Locality ", new { @class = "btn btn-default dropdown-toggle", id = "locality" })
                                    @Html.DropDownListFor(model => model.SpecialityName, Model.SpecialityList, "Speciality", new { @class = "btn btn-default dropdown-toggle  ", id = "speciality" })
                                    <input type="hidden" name="search_param" value="all" id="search_param">
                                    <button class="btn btn-default home-button-search" type="submit" id="index_submit"><span class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.ValidationMessage("", new { @class = "text-danger" })
                @Html.ValidationMessage("", new { @class = "text-danger" })
                @Html.ValidationMessage("", new { @class = "text-danger" })
                @Html.ValidationMessage("", new { @class = "text-danger" })
                <div id="validation_address">

                </div>

            }
        </div>
        









