﻿@model IEnumerable<EaseHealthDemoProject.Areas.Main.Models.DisplayDoctorViewModel>

@{
    ViewBag.Title = "ListOfDoctors";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "FullName", selectionFieldName: "selectedRow");
    grid.Pager(WebGridPagerModes.NextPrevious);

}
@Html.Partial("_HomePartial")
@Html.Label("List of doctors", new { @class = "availability_pageheading" })


                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <section class="search-result-item panel-success">
                                <a class="image-link" href="#">
                                    <img src="~/Content\Images\doctorimage.png" class="image" />
                                </a>
                                <div class="search-result-item-body">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h4 class="search-result-item-heading">@Html.DisplayFor(modelItem => item.FullName)</h4>
                                            <p class="info"><span class="col-md-3">Contact Number:</span>@Html.DisplayFor(modelitem => item.MobileNumber)</p>
                                            <p class="info">
                                                <span class="col-md-1 ">State:</span> <span class="col-md-2">@Html.DisplayFor(modelItem => item.StateName)</span>
                                                <span class="col-md-1">City:</span> <span class="col-md-2">@Html.DisplayFor(modelItem => item.CityName)</span>
                                                <span class="col-md-1">Locality:</span> <span class="col-md-2">@Html.DisplayFor(modelItem => item.LocalityName)</span>
                                                <span class="col-md-1">Pincode:</span> <span class="col-md-2">@Html.DisplayFor(modelItem => item.Pincode)</span>
                                            </p>
                                            <p class="description-doctor"><span class="col-md-3">Qualification:</span><span class="col-md-3">@Html.DisplayFor(modelItem => item.QualificationName)</span></p>
                                            <p class="description-doctor">
                                                <span class="col-md-3">Speciality:</span>  <span class="col-md-3">@Html.DisplayFor(modelItem => item.SpecialityName)</span>
                                            </p>
                                            <p class="description-doctor">
                                                <span class="col-md-3">Experience:</span>  <span class="col-md-3">@Html.DisplayFor(modelItem => item.Experience) yrs</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-3 text-align-center danger">
                                            <p class="value2 mt-sm description-doctor">See Availability before you visit!</p>
                                            <p class="fs-mini text-muted"></p>@Html.ActionLink("See Availability", "DisplayAvailability", "Doctor", new { area = "Doctor", id = item.UserId, @class = "btn btn-primary btn-info btn-sm see-availability" }, null)
                                        </div>
                                    </div>
                                </div>
                            </section>

                        }
                       
                    }
                    else
                    {
                        <div class="oaerror info">
                            <span> No data found.</span>
                        </div>
                    }

