﻿@{
    ViewBag.Title = "Error";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-info">
               
                <span class="glyphicon glyphicon-info-sign"></span> <strong>Info Message</strong>
                <hr class="message-inner-separator">
                <p>
                    You are not authorized for this page.Kindly login or contact administrator for this.
                </p>
            </div>
        </div>
</div>
</div>