﻿@model EaseHealthDemoProject.Areas.Main.Models.RegistrationViewModel
@{

}
@Html.Partial("_UserRegisterPartial")
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<meta name="viewport" content="width=device-width" />
<div id="loginScreen_register">
    <div id="box-cover_register">

        @using (Html.BeginForm("UserRegister", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            
            @Html.Label("Register Here!", new { @class = "pageheading" })
            <div class="error-notice">
                @if (ViewBag.Message != null)
                {
                    <div class="oaerror info">
                        @ViewBag.Message
                    </div>
                }
            </div>
            <div class="form-group">
                @Html.Label("Full Name*", new { @class = "col-md-7 control-label left_label_register", id = "name_label" })
                <div class="col-md-10 col-md-10_register">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control input input_register right_textbox_register", id = "fullname" })
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Mobile Number*", new { @class = "col-md-7 control-label left_label_register", id = "tmobile_label" })
                <div class="col-md-10 col-md-10_register">
                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control input input_register right_textbox_register", id = "mobilenumber" })
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Password*", new { @class = "col-md-7 control-label left_label_register", id = "password_label" })
                <div class="col-md-10 col-md-10_register">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control right_textbox_register", id = "password" })
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                @Html.Label("Address*", new { @class = "col-md-7 control-label left_label_register", id = "password_label" })

            </div>

            <div class="address-div">
                <div class="align-dropdown">
                    @Html.DropDownListFor(model => model.StateName, Model.StateList, "State", new { @class = "btn btn-default dropdown-toggle ", id = "state" })
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                    @Html.DropDownListFor(model => model.CityName, Model.CityList, "City", new { @class = "btn btn-default dropdown-toggle", id = "city" })
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                    @Html.DropDownListFor(model => model.LocalityName, Model.LocalityList, "Locality", new { @class = "btn btn-default dropdown-toggle", id = "locality" })
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                </div>
                <div id="validation_address">

                </div>
            </div>
            <div class="align-dropdown">
                @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", id = "pincode", Placeholder = "pincode" })
                @Html.ValidationMessage("", new { @class = "text-danger" })
            </div>


                //-------------------------------------------------------------------------------------------------------Radio buttons

                <div class="align-radio_register">
                    <label class="radio-inline ">
                        @Html.RadioButtonFor(m => m.User, "Doctor", new { @class = "col-md-7 user control_radio ", id = "doctor_radio" })<span class="radio_label_register">Doctor</span>
                        @Html.ValidationMessage("", new { @class = "text-danger" })
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.User, "Patient", new { @class = "col-md-7 user control_radio", id = "patient_radio" })<span class="radio_label_register" id="patient">Patient</span>
                        @Html.ValidationMessage("", new { @class = "text-danger" })
                    </label>
                </div>
                <div id="validation_user">

                </div>

                //-------------------------------------------------------------------------------------------------------------

                <div id="doctor_div">
                    <div class="form-group">
                        @Html.Label("License Number ", new { @class = "col-md-7  control-label left_label_register" })
                        <div class="col-md-10 col-md-10_register">
                            @Html.TextBoxFor(m => m.LicenseNumber, new { @class = "form-control input  input_register right_textbox_register", id = "license-number" })
                            @Html.ValidationMessage("", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group align-dropdown ">
                        @Html.Label("Speciality", new { @class = "col-md-7  control-label left_label_register", id = "speciality_label" })
                        <div class="bloodgroup-div_register">
                            @Html.DropDownListFor(model => model.SpecialityName, Model.SpecialityList, "Speciality", new { @class = "btn btn-default dropdown-toggle  ", id = "speciality_register" })
                            @Html.ValidationMessage("", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="validation_speciality">

                    </div>
                    <div class="form-group align-dropdown">
                        <div class="div_register">
                            <h2 class="selected-qualification"></h2>
                        </div>
                        @Html.Label("Qualification", new { @class = "col-md-7  control-label left_label_register", id = "speciality_label" })
                        <div class="bloodgroup-div_register">
                            @Html.DropDownListFor(model => model.QualificationName, Model.QualificationList, "Qualification", new { @class = "btn btn-default dropdown-toggle  ", id = "combo" })
                            @Html.ValidationMessage("", new { @class = "text-danger" })
                        </div>
                        <button type="button" class="btn btn-default btn btn-defaultbtn-sm" id="button1_register">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                        <input type="button" class="btn btn-default btn btn-defaultbtn-sm" value=" Save" id="loginbutton_qualification" />
                    </div>

                    <div id="validation_qualification">

                    </div>
                    <div class="form-group">
                        @Html.Label("Experience", new { @class = "col-md-7  control-label left_label_register" })
                        <div class="col-md-10 col-md-10_register">
                            @Html.TextBoxFor(m => m.Experience, new { @class = "form-control input input_register right_textbox_register", id = "experience_textbox" })
                            @Html.ValidationMessage("", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Clinic Registration Number", new { @class = "col-md-7  control-label left_label_register" })
                        <div class="col-md-10 col-md-10_register">
                            @Html.TextBoxFor(m => m.ClinicRegistrationNumber, new { @class = "form-control input input_register right_textbox_register", id = "clinic-registration-number" })
                            @Html.ValidationMessage("", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                //======================================================================================================Patientdiv
                <div id="patient_div">
                    <div class="align-radio-gender_register">
                        <label class="radio-inline ">
                            @Html.RadioButtonFor(m => m.Gender, "Female", new { @class = "col-md-7 user control_radio ", id = "doctor_radio " })<span class="radio_label_register">Female</span>
                            @Html.ValidationMessage("", new { @class = "text-danger" })
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(m => m.Gender, "Male", new { @class = "col-md-7 user control_radio ", id = "patient_radio " })<span class="radio_label_register" id="male">Male</span>
                            @Html.ValidationMessage("", new { @class = "text-danger" })
                        </label>
                    </div>
                    <div id="validation_gender">

                    </div>
                    <div class="patient">
                        <div class="form-group dob-div_register">
                            <!-- Date input -->
                            <label class="col-md-7  control-label left_label_register" for="date">Date Of Birth</label>
                            <div class="col-md-12 mii_register">
                                <div class='input-group date ' data-provide="datepicker">
                                    <span class="input-group-addon calendar"> </span>
                                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "col-md-12 form-control dob-align", id = "datetimepicker1 dob-align dob", @type = "text" })
                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                        <div id="validation_dob">

                        </div>

                        <div class="form-group ">
                            @Html.Label("Blood Group", new { @class = "col-md-7  control-label left_label_register", id = "bloodgroup_label" })
                            <div class="bloodgroup-div_register">

                                @Html.DropDownListFor(model => model.BloodGroupName, Model.BloodGroupList, "Blood Group", new { @class = "btn btn-default dropdown-toggle  ", id = "bloodgroup_register" })
                                @Html.ValidationMessage("", new { @class = "text-danger" })
                            </div>
                            <div id="validation_bloodgroup">

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Landline Number", new { @class = "col-md-7  control-label left_label_register" })
                            <div class="col-md-7 ">
                                @Html.TextBoxFor(m => m.SecondaryPhoneNumber, new { @class = "form-control input input_register right_textbox_register", id = "secondary-phone-number" })
                                @Html.ValidationMessage("", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                @Html.TextBoxFor(m => m.SelectedQualificationList, new { @class = "form-control input  input_register right_textbox_register hidden", id = "selected-qualification-list" })

            //-------------------------------------------------------------------------------------------------------Submit  Button
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 col-md-10_register">
                    <input type="submit" class="btn btn-default" value="Register" id="loginbutton_register" />
                </div>
            </div>
            //-------------------------------------------------------------------------------------------------------

        }
    </div>
</div>
<div id="cover_register ">

</div>

