﻿.bloodgroup-div {
            margin-right: 238px;
        }

        .address-div {
            margin-left: 68px;
            margin-top: -35px;
        }

        #pincode {
            margin-left: 83px;
        }

        .control_radio {
            margin-left: 107px;
        }

        .button {
            width: 150px;
            padding: 10px;
            background-color: #FF8C00;
            
            
            text-decoration: none;
            margin-left: 37%;
        }

        #loginbutton {
            
            
            background: #1F4C79;
            margin-top: 70px;
            margin-left: -90px;
            border: 2px solid black;
            border-collapse: separate;
            width: 89px;
            height: 39px;
            position: absolute;
        }

        .right_textbox {
            float: left;
            text-align: left;
            margin-right: 60px;
            margin-top: 6px;
            /*border: 2px solid #456879;*/
            
            height: 26px;
            width: 240px;
            margin-bottom: 6px;
            color: #747862;
            padding: 4px 8px;
           
            
            margin-left: 68px;
        }

        #doctor_div, #patient_div {
            display: none;
        }

        #cover {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.6);
            z-index: 5;
            width: 100%;
            height: 100%;
            display: none;
            text-align: center;
        }

        #connectwithbutton {
            margin-top: 35px;
        }

            #connectwithbutton button {
                box-shadow: 0px 0px 24px black;
                margin-top: 10px;
                margin-left: 24px;
            }

        #loginScreen {
            height: 391px;
            width: 680px;
            /*margin: 0 auto;*/
            margin-left: 100px;
            margin-top: 5px;
            position: relative;
            z-index: 10;
            /*display: none;*/
            border: 5px solid #cccccc;
            border-radius: 10px;
            text-align: center;
            background-color: #3475B5;
        }

            #loginScreen:target, #loginScreen:target + #cover {
                display: block;
                opacity: 2;
            }

        input {
            float: left;
            text-align: left;
            margin-right: 175px;
            width: 117px;
            margin-bottom: 6px;
            margin-top: 36px;
            margin-left: 26px;
        }

        /*input:focus {
            border: 2px solid #900;
            onfocus ="this.value=''; this.onfocus=null; transition: 500ms all ease;
        }*/

        .cancel {
            display: block;
            position: absolute;
            top: 3px;
            right: 2px;
            background: #1F4C79;
            color: black;
            height: 30px;
            width: 35px;
            font-size: 22px;
            text-decoration: none;
            text-align: center;
            text-align: center;
        }

        li {
            list-style-type: none;
        }

        .box {
            height: 50px;
            width: 50px;
            background-color: #ECECEC;
            border: 5px solid #000;
            border-bottom: 5px solid #FDFDFD;
            border-radius: 100px;
            margin: 9px auto;
            -webkit-animation: load 1s infinite linear;
            -moz-animation: load 1s infinite linear;
            -ms-animation: load 1s infinite linear;
            -o-animation: load 1s infinite linear;
            animation: load 1s infinite linear;
        }

        .box1 {
            height: 80px;
            width: 80px;
            background-color: #ECECEC;
            border: 5px solid #000;
            border-right: 5px solid #FDFDFD;
            border-radius: 200px;
        }

        .radio_label {
            margin-left: 86px;
        }