﻿body {
    background: #D2E9F7;
    font-weight: normal;
}

#flag-section {
    padding: 80px;
}

.cuadro_intro_hover {
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 20%;
}

.search-buttons {
    margin-left: -17px;
    display: inline;
}

.nav-link {
    font-size: 15px;
}

#doctor_div, #patient_div {
    display: none;
}

#state, #city, #locality, #speciality {
    margin: 8px;
    width: 110px;
}

.login_register {
    text-decoration: none;
    font-size: 15px;
    padding: 3px;
}

.cuadro_intro_hover:hover .caption {
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
}

.cuadro_intro_hover img {
    z-index: 4;
    display: inline;
}

.cuadro_intro_hover .caption {
    position: absolute;
    top: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.cuadro_intro_hover .blur {
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
}

.cuadro_intro_hover .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top: -20px;
    width: 100%;
}

.logo_icon {
    width: 88px;
    height: 62px;
    float: left;
    padding: 4px;
}

a {
    text-decoration: none;
}

.navbar-base {
    background: black;
    height: 10px;
}

.heading {
    margin-top: 150px;
    text-align: center;
    font-size: 36px;
    color: #4d4d4d;
    padding-bottom: 20px;
}

.navbar {
    background-color: black;
    height: 65px;
}

.search-bar {
    background-color: black;
    border: 4px solid gray;
}

body {
    margin: 0px;
    font-weight: normal;
}

.login-register {
    float: right;
    font-size: 25px;
    padding: 8px;
    list-style-type: none;
    margin-top: -1%;
}



.home-button-search {
    margin-left: 506px;
    margin-top: -69px;
}


.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
    float: right;
}

.search {
    margin: 10px;
    width: 120px;
    height: 39px;
}

#search-bar {
    margin-left: 3%;
}

#combo {
    margin-left:1px;
    width:126px;
}

.knockout {
    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 100px;
    font-family: arial, helvetica;
    width: 600px;
    margin-left: 19%;
    margin-top: 10%;
    text-align: center;
}
/*//=========================================================Loginpage*/
.buttonhome {
    width: 150px;
    padding: 10px;
    background-color: #FF8C00;
    box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
    text-decoration: none;
    margin-left: 37%;
}

#loginbuttonhome {
    background: rgba(0,0,0,0.2);
    margin-top: 31px;
    margin-left: 31px;
    border-collapse: separate;
    width: 89px;
    height: 39px;
}

#loginbutton_qualification {
    margin-left:125px;
    margin-top:-32px;
    position:absolute;
}

.pageheading {
    text-align: center;
    width: 100%;
    margin-top: -35px;
    font-weight: normal;
    background-color: #d9edf7;
    font-size: 21px;
    position: relative;
}



#mobile_textboxhome, #password_textboxhome {
    float: left;
    text-align: left;
    margin-left: -2px;
    margin-top: 6px;
    border-radius: 10px;
    height: 26px;
    width: 240px;
    margin-bottom: 6px;
    color: #747862;
    padding: 4px 8px;
    transition: 500ms all ease;
}

#coverhome {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    /*text-align: center;*/
}

#connectwithbuttonhome {
    margin-top: 35px;
}

    #connectwithbuttonhome buttonhome {
        margin-top: 10px;
        margin-left: 24px;
    }

#loginScreenhome {
    height: 357px;
    width: 356px;
    margin: 30px auto;
    position: relative;
    z-index: 10;
    border: 5px solid #cccccc;
    border-radius: 10px;
    /*text-align: center;*/
    background-color: #E5F3FF;
    padding: 50px;
}

    #loginScreenhome:target, #loginScreenhome:target + #coverhome {
        display: block;
        opacity: 2;
    }

#mobile_labelhome, #password_labelhome {
    float: left;
    text-align: left;
    margin-right: 175px;
    width: 148px;
    margin-bottom: 6px;
    margin-top: -6px;
    font-weight: normal;
}

lihome {
    list-style-type: none;
}

.boxhome {
    height: 40px;
    width: 50px;
    background-color: #ECECEC;
    border: 5px solid #000;
    border-bottom: 5px solid #FDFDFD;
    border-radius: 100px;
    margin: 9px auto;
    -webkit-animation: load 1s infinite linear;
    -moz-animation: load 1s infinite linear;
    -ms-animation: load 1s infinite linear;
    -o-animation: load 1s infinite linear;
    animation: load 1s infinite linear;
}

.box1home {
    height: 50px;
    width: 80px;
    background-color: #ECECEC;
    border: 5px solid #000;
    border-right: 5px solid #FDFDFD;
    border-radius: 200px;
}
/*//======================================================================================Registerpage*/

.bloodgroup-div_register {
    margin-right: 256px;
}

.address-div {
    margin-left: 68px;
    margin-top: -35px;
}

.dob-align {
    margin-top: 6px;
    margin-left: 3px;
    border-radius:13px;
    height:29px;
    width:240px;
}

#pincode {
    margin-left: 176px;
    width: 240px;
    border-radius:11px;
    height:28px;    
    margin-left:170px;
    margin-top:15px;
    margin-bottom:15px;
}

.control_radio_register {
    margin-left: 107px;
}

.calendar {
    width: 10px;
    height: 10px;
}

.button_register {
    width: 150px;
    padding: 10px;
    background-color: #FF8C00;
    text-decoration: none;
    margin-left: 37%;
}

.left_label_register {
    width: 148px;
    font-weight: normal;
}

#loginbutton_register {
    background: #1F4C79;
    background: rgba(0,0,0,0.2);
    margin-top: 31px;
    margin-left: -14%;
    border-collapse: separate;
    width: 89px;
    height: 39px;
    position: absolute;
}

.align-dropdown {
    margin-left: 47px;
}

.right_textbox_register {
    float: left;
    text-align: left;
    margin-right: 60px;
    margin-top: 6px;
    border-radius: 10px;
    height: 26px;
    width: 240px;
    margin-bottom: 6px;
    color: #747862;
    padding: 4px 8px;
    transition: 500ms all ease;
    margin-left: 68px;
}

#doctor_div, #patient_div {
    display: none;
}

#cover_register {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}

#connectwithbutton_register {
    margin-top: 35px;
}

#connectwithbutton button_register {
    margin-top: 10px;
    margin-left: 24px;
}

#loginScreen_register {
    height: 766px;
    width: 710px;
    margin-left: 138px;
    margin-top: 5px;
    position: relative;
    z-index: 10;
    border: 5px solid #cccccc;
    border-radius: 10px;
    text-align: center;
    background-color: #E5F3FF;
    padding: 10px;
}

    #loginScreen_register:target, #loginScreen_register:target + #cover_register {
        display: block;
        opacity: 2;
    }


#dob-align {
    margin-left: 27px;
    width: 233px;
    margin-bottom: 6px;
    margin-top: 24px;
}

.input-group-addon {
    width: 1px;
    height: 18px;
    padding: 0px;
    background-color: #E5F3FF;
    border-color: #E5F3FF;
}

input_register {
    float: left;
    text-align: left;
    margin-right: 175px;
    width: 148px;
    margin-bottom: 6px;
    margin-top: 36px;
    margin-left: 26px;
}

.align-radio_register {
    margin-left: 5px;
}

.mii_register {
    margin-left: 70px;
    margin-top: -6px;
    width: 256px;
}

li_register {
    list-style-type: none;
}

.box_register {
    height: 50px;
    width: 50px;
    background-color: #ECECEC;
    border: 5px solid #000;
    border-bottom: 5px solid #FDFDFD;
    border-radius: 100px;
    margin: 9px auto;
    -webkit-animation: load 1s infinite linear;
    -moz-animation: load 1s infinite linear;
    -ms-animation: load 1s infinite linear;
    -o-animation: load 1s infinite linear;
    animation: load 1s infinite linear;
}

.dob-div_register {
    margin-top: 27px;
}

.box1_register {
    height: 80px;
    width: 80px;
    background-color: #ECECEC;
    border: 5px solid #000;
    border-right: 5px solid #FDFDFD;
    border-radius: 200px;
}

.radio_label_register {
    margin-left: 86px;
    font-weight: normal;
}

#bloodgroup_register {
    width: 131px;
    margin-left: 5px;
}

.align-radio-gender_register {
    margin-left: -6px;
}

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#speciality_register {
    width: 124px;
}

#box-cover_register {
    padding: 4px;
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
    color: white !important;
}

.asteriskField {
    color: red;
}

.col-md-10_register {
    width: 75.3%;
}

#button1_register {
    margin-top: -54px;
    margin-left: 77px;
    height: 31px;
}

.div_register {
    background-color: #e5f3ff;
    display: none;
}

#selected-qualification {
    background-color: #7ec6dc;
    width: 136px;
    text-align: right;
    font-size: smaller;
    display: inline;
    border: 1px solid silver;
    margin: 3px;
}
/*===============================================================================DoctorProfile*/
.options, .values {
    display: block;
    margin: auto;
}

.editprofile_button {
    margin-top:10px;
    padding: 7px;
    border-radius: 12px;
    margin-bottom: 6px;
    margin-right: 4px;
    float: right;
}
col-md-12_DoctorProfile {
    width: 20%;
    border: 1px solid white;
}

.options {
}

.values {
    margin-top: -220px;
    margin-left: 250px;
    width: 40%;
}

.values_patientprofile {
    margin-top: -200px;
    margin-left: 250px;
    width: 40%;
}

.odd {
    background-color: #dcf5f4;
}
/*==========================================================DoctorAvailability*/
.availability_pageheading {
    text-align: center;
    width: 100%;
    margin-top: 25px;
    font-weight: normal;
    background-color: #d9edf7;
    font-size: 21px;
    position: relative;
}
#save-day-details { 
    
    margin-top: 8px;
    margin-left: 225px;
    
    width: 152px;
    height: 36px;
    position: absolute;
    background: rgba(0,0,0,0.2);
    font-size:16px;
    color:black;
    padding:9px;
}
#save {
    margin-left:34%;
}
.add-break-dropdown {
    height:28px;
    margin-top:-3px;
}

.time-div, .break-div {
    width: 500px;
}
.left_label_avail {
    width: 148px;
    font-weight: normal;
}

.body-content {
    padding-left: 1px;
    padding-right: 1px;
}

.container_availability {
    width: 1055px;
    margin-left: -47px;
}

.submit-btn-block-div {
    width: 913px;
    height: 100px;
    margin: auto;
}

.time-container {
    margin: -76px;
}

.day-container {
    background-color: white;
    padding: 11px;
    height: 84px;
    font-size: smaller;
    border: 2px solid #6cb2c8;
}

.dropdown-time {
    height: 28px;
    margin-bottom: 4px;
    width: 83px;
}

.day {
    color: brown;
    font-size: larger;
    margin-left: -64px;
}

.number-of-breaks {
    width: 149px;
    height: 31px;
}

#loginbutton_avail {
    margin-top: 8px;
    margin-left: 236px;
    border-collapse: separate;
    width: 130px;
    height: 44px;
    position: absolute;
    background: rgba(0,0,0,0.2);
}

.time-div, .break-div {
    display: inline;
    width: 531px;
    margin-left: -21px;
    margin-right: 80px;
}

.day-label {
    margin-left: -55px;
    margin-top: 0px;
    text-align: left;
    font-weight: normal;
    text-align: left;
}

.day-checkbox {
    margin-left: 4px;
}
/*==========================================================================PatientFeedback*/

#box-cover_feedback {
    padding: 4px;
}

.left_label_feedback {
    font-weight: normal;
    margin-left: 53px;
    margin-top: 25px;
}

#feedback_submitbutton {
    background: rgba(0,0,0,0.2);
    margin-top: 31px;
    margin-left: 86px;
    border-collapse: separate;
    width: 117px;
    height: 39px;
}

.left_label_feedback {
    font-weight: normal;
}

.right_textbox_feedback {
    float: left;
    text-align: left;
    margin-right: 60px;
    margin-top: -24px;
    border-radius: 10px;
    height: 26px;
    width: 230px;
    margin-bottom: 6px;
    color: #747862;
    padding: 4px 8px;
    transition: 500ms all ease;
    margin-left: 160px;
}

#cover_feedback {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}

#loginScreen_feedback {
    height: 372px;
    width: 560px;
    margin: 30px auto;
    position: relative;
    z-index: 10;
    border: 5px solid #cccccc;
    border-radius: 10px;
    background-color: #E5F3FF;
    padding: 50px;
}

    #loginScreen_feedback:target, #loginScreen_feedback:target + #cover_feedback {
        display: block;
        opacity: 2;
    }

input_feedback {
    float: left;
    text-align: left;
    margin-right: 175px;
    width: 117px;
    margin-bottom: 6px;
    margin-top: 36px;
    margin-left: 26px;
}

/*============================================================*/
#loginScreen_nav {
    margin: 30px auto;
    position: relative;
    z-index: 10;
    border: 5px solid #cccccc;
    border-radius: 10px;
    /*text-align: center;*/
    background-color: #E5F3FF;
}

.navbar {
    background-color: black;
}

/*=======================================================================soap*/

#loginbutton_soap {
    background: rgba(0,0,0,0.2);
    margin-top: 18px;
    margin-left: 68px;
    border-collapse: separate;
    width: 117px;
    height: 39px;
}

.right_textbox_soap {
    text-align: left;
    width: 500px;
    margin-bottom: 6px;
    color: #747862;
    margin-left: 68px;
}

#cover_soap {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}

#loginScreen_soap {
    height: 450px;
    width: 500px;
    margin: 30px auto;
    position: relative;
    z-index: 10;
    border: 5px solid #cccccc;
    border-radius: 10px;
    background-color: #E5F3FF;
    padding: 50px;
    font-weight: normal;
}

    #loginScreen_soap:target, #loginScreen_soap:target + #cover {
        display: block;
        opacity: 2;
    }

input {
    float: left;
    text-align: left;
    margin-right: 175px;
    width: 117px;
    margin-bottom: 6px;
    margin-top: 36px;
    margin-left: 26px;
}

.soap {
    margin-top: -7px;
}

#button_exportToPdf {
    padding: 7px;
    border-radius: 12px;
    margin-bottom: 6px;
    margin-right: 19px;
    float: right;
}
.addvisit_button {
     padding: 7px;
    border-radius: 12px;
    margin-bottom: 6px;
    margin-right: 4px;
    float: right;
}

.left-label_soap {
    margin-left: 54px;
    font-weight: normal;
}

.form-horizontal_soap {
    margin-left: -11px;
}

/*==================================================================================AddVisit*/
#box-cover_addvisit {
    padding: 4px;
}


#loginbutton_addvisit {
    background: rgba(0,0,0,0.2);
    margin-top: 4px;
    margin-left: 93px;
    border-collapse: separate;
    width: 117px;
    height: 39px;
}

.right_textbox_addvisit {
    float: right;
    text-align: left;
    margin-right: 60px;
    margin-top: -21px;
    width: 229px;
    color: #747862;
    transition: 500ms all ease;
    margin-left: 32px;
    margin-bottom: 15px;
}

.label_addvisitname {
    margin-bottom: -34px;
    font-weight: normal;
    margin-top:32px;
}

.date_textbox {
    width: 229px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
    margin-top: -12px;
}

#cover_addvisit {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}

#loginScreen_addvisit {
    height: 372px;
    width: 570px;
    margin: 50px auto;
    position: relative;
    z-index: 10;
    border: 5px solid #cccccc;
    border-radius: 10px;
    background-color: #E5F3FF;
    padding: 50px;
}

    #loginScreen_addvisit:target, #loginScreen_addvisit:target + #cover_addvisit {
        display: block;
        opacity: 2;
    }

input {
    float: left;
    text-align: left;
    margin-right: 175px;
    width: 117px;
    margin-bottom: 6px;
    margin-top: 36px;
    margin-left: 26px;
}

#datepicker1_addvisit {
    padding: 0px;
}

.input-group-addon_addvisit {
    width: 1px;
    height: 18px;
    padding: 0px;
    background-color: #E5F3FF;
    border-color: #E5F3FF;
}

.mii_addvisit {
    margin-left: 130px;
    margin-top: -10px;
    width: 100px;
}

.label_addvisit {
    float: left;
    text-align: right;
    margin-right: 175px;
    width: 148px;
    margin-bottom: 6px;
    margin-top: -6px;
    font-weight: normal;
}

/*//=========================================================Web grid*/
.webGrid {
    margin: 4px;
    border-collapse: collapse;
    width: 945px;
    background-color: #B4CFC3;
    font-weight: normal;
    height: 15px;
}

.header {
    background-color: #C1D4E6;
    font-weight: bold;
    color: #FFF;
    font-weight: normal;
}

.webGrid th, .webGrid td {
    border: 1px solid #97bcdc;
    padding: 7px;
    font-weight: normal;
}

.alt {
    background-color: #E4E9F5;
    color: #000;
}

.gridHead a:hover {
    text-decoration: underline;
    font-weight: normal;
}

.description {
    width: auto;
    font-weight: normal;
}

.select {
    background-color: #71857C;
    padding: 30px;
}

.hiddem {
    display: none;
}
/*//================================================invoice*/
.right_textbox_invoice {
    text-align: left;
    width: 500px;
    margin-bottom: 6px;
    color: #747862;
    margin-left: 124px;
    margin-top: -24px;
}

#cover_invoice {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}

#loginScreen_invoice {
    height: 250px;
    width: 500px;
    margin: 30px auto;
    position: relative;
    z-index: 10;
    border: 5px solid #cccccc;
    border-radius: 10px;
    background-color: #E5F3FF;
    padding: 50px;
    font-weight: normal;
}


.invoice {
    margin-top: 15px;
}

.left-label_invoice {
    margin-left: -15px;
    font-weight: normal;
}

.validation {
    border-color: red;
    color: red;
    font: 10px;
}

.form-horizontal_invoice {
    margin-left: -11px;
}

/*//============================================================Validation*/
.validation_message {
    color: red;
    font-size: 6px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.validation_address, .validation_user, .validation_gender, .validation_speciality, .validation_qualification, .validation_bloodgroup, .validation_dob {
    color: red;
    font-size: 9px;
}

.validation_user {
    margin-left: -111px;
}

.validation_address {
    margin-left: -60px;
    margin-bottom: -11px;
}

.validation_gender {
    margin-left: -138px;
    margin-top: 5px;
    margin-bottom: -21px;
}

.validation_speciality {
    margin-left: -131px;
    margin-bottom: -12px;
}

.validation_qualification {
    margin-left: -119px;
    margin-top: -22px;
}

.validation_bloodgroup {
    margin-left: -114px;
    margin-top: 2px;
    margin-bottom: -17px;
}

.validation_dob {
    margin-left: -121px;
    margin-top: -10px;
    margin-bottom: 4px;
}

.validation_address_home {
    color: red;
    font-size: 11px;
    margin-left: 29%;
}
.patientname_validation {
    color: red;
    font-size: 10px;
    margin-left: 37%;
    margin-top:22px;
    margin-bottom:6px;
}
.dov_validation {
     color: red;
    font-size: 11px;
    margin-left: 36%;
}
.addvisitpatient {
    margin-bottom:10px;
}
.doctor_validation {
     color: red;
    font-size: 10px;
    margin-left: 36%;
    margin-top:43px;
    margin-bottom:11px;
}



/*//========================================================================*/
body {
    background: #D2E9F7;
    font-weight: normal;
}

#loginScreen {
    margin: 30px auto;
    position: relative;
    z-index: 10;
    border: 5px solid #cccccc;
    border-radius: 10px;
    background-color: #E5F3FF;
}

.navbar {
    background-color: black;
}

.selected-degree {
    border:1px solid #ddd;
    font-size:11px;
    
    display:inline;
    margin-right:5px;
}
.alignqualification {
    margin-left:-96px;
    margin-top:-20px;
}
.hidden {
    display:none;
}














.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > ul  {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.table-user-information > ul > li:first-child {
    border-top: 0;
    list-style-type:none;
}

.record , .data {
    display:inline;
    font-size:12px;
    text-align:right;
    
}
 .data {
     float:right;
     text-align:right;
 }
.table-user-information > ul > ul > li {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.has-error {
    margin-top:41px;
    font-weight:normal;
}

.error-notice {
  margin: 5px 5px; /* Making sure to keep some distance from all side */
}

.oaerror {
  width: 90%; /* Configure it fit in your design  */
  margin: -4px auto; /* Centering Stuff */
  background-color: #FFFFFF; /* Default background */
  padding: 10px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.info {
  border-left-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}
.useid {
    display:none;
}
.sender {
    width:20%;
}
.rupee {
    margin-left:-4px;
    margin-top:13px;
}
/*//Error command authorization message*/

body { margin-top:30px; }
hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
/*//Find a doctor page*/

.search-result-categories>li>a {
    color: #b6b6b6;
    font-weight: 400
}

.search-result-categories>li>a:hover {
    background-color: #ddd;
    color: #555
}

.search-result-categories>li>a>.glyphicon {
    margin-right: 5px
}

.search-result-categories>li>a>.badge {
    float: right
}

.search-results-count {
    margin-top: 10px
}

.search-result-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px
}

.search-result-item:after,
.search-result-item:before {
    content: " ";
    display: table
}

.search-result-item:after {
    clear: both
}

.search-result-item .image-link {
    display: block;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

@media (min-width:768px) {
    .search-result-item .image-link {
        display: inline-block;
        margin: -20px 0px -20px -20px;
        float: left;
        width: 200px
    }
}

@media (max-width:767px) {
    .search-result-item .image-link {
        max-height: 200px
    }
}

.search-result-item .image {
    max-width: 100%
}

.search-result-item .info {
    margin-top: 2px;
    font-size: 12px;
    color: #999
}

.search-result-item .description {
    font-size: 13px
}

.search-result-item+.search-result-item {
    margin-top: 20px
}

@media (min-width:768px) {
    .search-result-item-body {
        margin-left: 200px
    }
}

.search-result-item-heading {
   
    color:blue;

}

.search-result-item-heading>a {
    color: #555
}

@media (min-width:768px) {
    .search-result-item-heading {
        margin: 0
    }
}
.description-doctor {
    font-size:12px;
    color:grey;
}

/*search box content find a doctor page*/
.search-by-name {
    margin-top:42px;
    margin-left:5px;
    height:32px;
    width:251px;
}
.see-availability {
    color:#39bbdb;
}

