﻿
#flag-section
{
padding:80px;
}
.cuadro_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
        width:20%;        
	}


.login_register
{
    text-decoration:none;
    font-size:15px;
    padding:3px;
}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
        display:inline;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:150px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:-20px;
		width: 100%;
	}
.logo_icon
	{
	width:99px;
	height:55px;
	float:left;
	}
.navbar-base
{
border:5px solid rgb(160, 197, 232);
}
.heading
	{
	margin-top:150px;
	text-align:center;
	font-size:40px;
	color:#4d4d4d;
	}
.navbar 
	{
	background-color: rgb(160, 197, 232);
	
	height:65px;
	
	}
.search-bar
{
background-color:grey;
border:4px solid gray;
}
body
	{
	margin:0px;
    background: radial-gradient(rgb(160, 197, 232), white);
	}
.login-register
{
float:right;
font-size:25px;
padding:8px;
text-decoration:none;
}





        .bloodgroup-div {
            margin-right: 256px;
        }

        .address-div {
            margin-left: 68px;
            margin-top: -35px;
        }

        #pincode {
            margin-left: 83px;
            width: 234px;
        }

        .control_radio {
            margin-left: 107px;
        }

        .calendar {
            width: 10px;
            height: 10px;
        }

        .button {
            width: 150px;
            padding: 10px;
            background-color: #FF8C00;
            text-decoration: none;
            margin-left: 37%;
        }

        .left_label {
            width: 148px;
        }

        #loginbutton {
            background: #1F4C79;
            background: rgba(0,0,0,0.2);
            margin-top: 0px;
            margin-left: -14%;
            /*border: 2px solid black;*/
            border-collapse: separate;
            width: 89px;
            height: 39px;
            position: absolute;
        }

        .align-dropdown {
            margin-left: 135px;
        }

        .right_textbox {
            float: left;
            text-align: left;
            margin-right: 60px;
            margin-top: 6px;
            border-radius: 10px;
            height: 26px;
            width: 240px;
            margin-bottom: 6px;
            color: #747862;
            padding: 4px 8px;
            transition: 500ms all ease;
            margin-left: 68px;
        }

        #doctor_div, #patient_div {
            display: none;
        }

        #cover {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.6);
            z-index: 5;
            width: 100%;
            height: 100%;
            display: none;
            text-align: center;
        }

        #connectwithbutton {
            margin-top: 35px;
        }

            #connectwithbutton button {
                margin-top: 10px;
                margin-left: 24px;
            }

        #loginScreen {
            height: 766px;
            width: 710px;
            /*margin: 0 auto;*/
            margin-left: 100px;
            margin-top: 5px;
            position: relative;
            z-index: 10;
            /*display: none;*/
            border: 5px solid #cccccc;
            border-radius: 10px;
            text-align: center;
            background-color: #E5F3FF;
            padding: 10px;
        }

            #loginScreen:target, #loginScreen:target + #cover {
                display: block;
                opacity: 2;
            }

        #datepicker1 {
            padding: 0px;
            margin: 20px;
        }

        .input-group-addon {
            width: 1px;
            height: 18px;
            padding: 0px;
            background-color: #E5F3FF;
            border-color: #E5F3FF;
        }

        input {
            float: left;
            text-align: left;
            margin-right: 175px;
            width: 148px;
            margin-bottom: 6px;
            margin-top: 36px;
            margin-left: 26px;
        }

        .align-radio {
            margin-left: 5px;
        }

        /*input:focus {
            border: 2px solid #900;
            onfocus ="this.value=''; this.onfocus=null; transition: 500ms all ease;
        }*/

        /*.cancel {
            display: block;
            position: absolute;
            top: 3px;
            right: 2px;
            background: #1F4C79;
            color: black;
            height: 30px;
            width: 35px;
            font-size: 22px;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            text-align: center;
        }*/
        .mii {
            margin-left: 43px;
            margin-top: -29px;
            width: 100px;
        }

        li {
            list-style-type: none;
        }

        .box {
            height: 50px;
            width: 50px;
            background-color: #ECECEC;
            border: 5px solid #000;
            border-bottom: 5px solid #FDFDFD;
            border-radius: 100px;
            margin: 9px auto;
            -webkit-animation: load 1s infinite linear;
            -moz-animation: load 1s infinite linear;
            -ms-animation: load 1s infinite linear;
            -o-animation: load 1s infinite linear;
            animation: load 1s infinite linear;
        }

        .dob-div {
            margin-top: 27px;
        }

        .box1 {
            height: 80px;
            width: 80px;
            background-color: #ECECEC;
            border: 5px solid #000;
            border-right: 5px solid #FDFDFD;
            border-radius: 200px;
        }

        .radio_label {
            margin-left: 86px;
        }

        #bloodgroup {
            width: 131px;
            margin-left: 5px;
        }

        .align-radio-gender {
            margin-left: -6px;
        }
    

