﻿@model EaseHealthDemoProject.Areas.Patient.Models.FeedbackViewModel
@{
    ViewBag.Title = "Feedback";
}
@Html.Partial("_PatientPartial")
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<meta name="viewport" content="width=device-width" />
<div id="loginScreen_feedback">
    <div id="box-cover_Feedback">
        @using (Html.BeginForm("Feedback", "Patient", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Label("Add Feedback Here!", new { @class = "availability_pageheading" })
            if (@ViewBag.message != null)
            {
                <div class="error-notice">
                    <div class="oaerror info ">
                        <span> @ViewBag.message</span>
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.Label("DoctorName*", new { @class = "col-md-4 control-label label_addvisit" })
            </div>
            <div class="address-div">
                <div class="align-patientdropdown">
                    @Html.DropDownListFor(model => model.DoctorName, Model.DoctorList, "Doctor", new { @class = "btn btn-default doctor dropdown-toggle doctor right_textbox_addvisit", id = "doctor" })
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                </div>
            </div>
            <div id="doctor_validation">

            </div>
            <div class="form-group">
                @Html.Label("Feedback*", new { @class = "col-md-4 control-label label_addvisit" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.FeedbackContent, new { @class = "form-control feedbackcontent right_textbox_feedback", id = "reciever_textbox" })
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                </div>
            </div>

            //-------------------------------------------------------------------------------------------------------Submit  Button
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default feedback_submitbutton" value="Save Feedback" id="feedback_submitbutton" />
                </div>
            </div>
            //-------------------------------------------------------------------------------------------------------

        }
    </div>
</div>
<div id="cover_feedback">
</div>
