﻿@model IEnumerable<EaseHealthDemoProject.Areas.Patient.Models.PatientVisitViewModel>

@{

}

@Html.Partial("_PatientPartial")
@Html.Label("Your Visit Details", new { @class = "availability_pageheading" })
@if(Model.Count() > 0)
{
<div id="gridContent">
    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5,
        selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContentInvoice");
        grid.Pager(WebGridPagerModes.NextPrevious);
     }
    @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            htmlAttributes: new { id = "DataTable" },
            alternatingRowStyle: "alt",
            selectedRowStyle: "select", mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: grid.Columns(
                      grid.Column("VisitId", "VisitId"),
                      grid.Column("VisitName", "Visit Name", style: "description"),
                      grid.Column("VisitDate", " Visit Date"),
                      grid.Column("DoctorName", "Doctor Name"),
                      grid.Column("VisitDetails", "Visit Details"),
                      grid.Column("TotalAmount", "Invoice(₹)")
                      ))
</div>
            <a href="#" class="btn  btn-sm   btn-default btn-success text-success " id="button_exportToPdf">
                Export To Pdf
            </a>
}
 else
    {
<div class="oaerror info">
    <span> No data found.</span>
</div>
    }